@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

body {
    font-family: 'Press Start 2P', serif;
}

/* globals.css */
@keyframes glow {
    0%, 100% {
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    }
    50% {
      text-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
    }
}
  
  .glow-animate {
    animation: glow 1.5s infinite alternate;
}

.glow {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}

.glow-pink {
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}
  
.glow-blue {
    text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f;
}
  
  
  
  
  